*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #f7f7f7;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  align-items: center;
}
input{
  width: 500px;
  height: 50px;
  background-color: white;
  border: none;
  padding-left: 15px;
  margin-top: 5px;
}
select {
  width: 500px;
  height: 50px;
  background-color: white;
  margin-top: 15px;
}
.addBtn{
  width: 200px;
  height: 40px;
  border: none;
  background-color: green;
  margin-left: 15px;
  margin-top: 15px;
  color: white;
}
button {
width: 300px;
height: 30px;
margin-left: 45px;
margin-top: 4px;
}
.list-Item{
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 500px;
  height: 50px;
  margin-top: 5px;
}
.list-Item h6 {
  padding-top: 25px;
  padding-left: 12px;
}

.expenseIndicator {
  display: block;
  border-right: 4px solid red;
  width: 100px;
  height: 47px;
}
.incomeIndicator {
  display: block;
  border-right: 4px solid green;
  width: 100px;
  height: 47px;
}
.showCurrency{
  width: 500px;
  height: 50px;
  display: block;
  background-color: white;
  margin-top: 4%;
}
.selectCurrency{
  width: 240px;
  
}
#selectedfromcurrency{
  margin-left: 30px;
}
.totalBalance{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 500px;
  height: 90px;
}
.totalBalanceLine{
  border-left: 1px solid gray;
  height: 80px;
  margin-left: 53px;
}



.mt-5 {
  margin-top: 5px;
}

.nav-tabs {
  background-color: #f8f9fa;
  padding: 10px;
}

.nav-link {
  background-color: #f8f9fa;
  border: none;
  color: #333;
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 5px;
}

.nav-link.active {
  background-color: #fff;
  color: #000;
}

.tab-content {
  margin-top: 10px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
}

.tab-pane {
  display: none;
}

.tab-pane.show {
  display: block;
}
